<% include ./partials/header %>

<div class="container">
	
	<div class="jumbotron mt-4">
		<p>Here is your short and new link</p>
		<h1>
			<a href="<%= result.url %>"><%= result.url %></a>
		</h1>
	</div>
	<a class="btn btn-success" href="/" >Create new link?</a>
	
</div>


<% include ./partials/footer %>